@import '@/styles/utils/mixins';

.gameCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;

  opacity: 0.01;
  transform: translatey(100px);
}

.imagesWrapper {
  position: relative;
  max-width: 248px;
  width: 100%;
  aspect-ratio: 1 / 1;
  height: auto;
  border-radius: var(--br-s);
  overflow: hidden;

  @include onLaptop {
    &:hover {
      .image {
        // transform: translateY(-100%);
      }
    }
  }
}

.image {
  width: 50%;
  height: 50%;
  object-fit: contain;
  border-radius: var(--br-s);
  transform: translateY(0);
  transition: transform 0.2s var(--transition-tf);
  /* Добавляем центрирование */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.label {
  @include font(var(--fs-body-l));
  color: var(--white);
}