@import '@/styles/utils/mixins';

.section {
  position: relative;
  z-index: 1;
  padding-bottom: 100px;

  @include onLaptop {
    padding-bottom: 120px;
  }

  @include onMediumDesktop {
    padding-bottom: 150px;
  }
}

.sectionHeader {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2rem;

  @include onMediumDesktop {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.5rem;
  }
}

.heading {
  max-width: 400px;

  @include onMediumDesktop {
    max-width: none;
  }
}

.description {
  font-size: var(--fs-body-m);
  max-width: 500px;

  @include onTablet {
    font-size: var(--fs-body-l);
    max-width: 550px;
  }

  @include onLaptop {
    max-width: none;
  }

  @include onMediumDesktop {
    max-width: 464px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(165px, 219px));
  gap: 2rem 0.75rem;
  justify-content: center;

  @include onTablet {
    grid-template-columns: repeat(3, minmax(165px, 219px));
    gap: 3rem 0.75rem;
  }

  @include onLaptop {
    grid-template-columns: repeat(4, minmax(219px, 248px));
  }

  @include onMediumDesktop {
    grid-template-columns: repeat(auto-fit, minmax(219px, 248px));
    gap: 3.5rem 0.75rem;
  }

  @include onLargeDesktop {
    grid-template-columns: repeat(5, minmax(219px, 248px));
  }
}
