@import '@/styles/utils/mixins';

.section {
  position: relative;
  z-index: 1;
  padding-bottom: 100px;

  @include onLaptop {
    padding-bottom: 120px;
  }

  @include onMediumDesktop {
    padding-bottom: 150px;
  }
}

.sectionHeader {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2rem;

  @include onMediumDesktop {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.5rem;
  }
}

.heading {
  max-width: 400px;

  @include onMediumDesktop {
    max-width: none;
  }
}

.description {
  font-size: var(--fs-body-m);
  max-width: 500px;

  @include onTablet {
    font-size: var(--fs-body-l);
    max-width: 550px;
  }

  @include onLaptop {
    max-width: none;
  }

  @include onMediumDesktop {
    max-width: 464px;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;

  // Специальная логика для малого количества
  &.small {
    @media (min-width: 993px) {
      max-width: 100%; // ~3 карточки
      
      > * {
        flex: 1 1 auto;
        min-width: 250px;
        max-width: 350px;
      }
    }
  }

  &.medium {
    @media (min-width: 993px) {
      > * {
        flex: 1 1 auto;
        min-width: 250px;
        max-width: 300px;
      }
    }
  }
}