@import '@/styles/utils/mixins';

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem 1rem;
  margin-bottom: 1.5rem;

  @include onTablet {
    grid-template-columns: repeat(2, 1fr);
    max-width: 616px;
    margin-inline: auto;
  }

  @include onLaptop {
    grid-template-columns: repeat(3, 1fr);
    max-width: 932px;
  }

  @include onMediumDesktop {
    grid-template-columns: repeat(4, 1fr);
    max-width: none;
  }

  @include onLargeDesktop {
    grid-template-columns: repeat(5, 1fr);
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.125rem 1rem;
  border-radius: var(--br-s);
  background-color: var(--white-10);
  max-width: 350px;
  width: 100%;
  margin-inline: auto;
  text-align: center;

  @include onTablet {
    max-width: 300px;
  }

  @include onMediumDesktop {
    max-width: none;
  }
}
